.container {
  margin: 1rem;
  padding: 32px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 16px;
  border-radius: 0.7rem;
  border-left: 8px solid;
}
.task-status-chip {
  padding: 2px;
  border: 1px solid;
  width: fit-content;
  margin-top: 1em;
}

.task-form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.task-form input {
  flex: 1;
  padding: 10px;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 500px
}

.multiline-form  input{
  width: 500px
}

.task-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #0056b3;
}


.delete-btn {
  color: red;
}

.list-parent {
  cursor: grabbing;
}

.h70 {
  min-height: 70px;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 48%;
}


/* font text styles*/
.title-text {
  font-size: 24px;
  font-weight: 600;
}
.sub-text {
  font-size: 12px;
}
.card-text {
  font-size: 18px;
  font-weight: 600;
}




/*margin styles*/
.mr-4 {
  margin-right: 4px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}




/*flex classes*/
.flex {
  display: flex;
}

.justify-center {
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}


/**dialog classes modal**/
.dialog-heading {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
}

.dialog-container {
  padding: 24px;
}